{% extends "base.html" %}

{% block title %}Editing Profile ({{ profile.name }}){% endblock %}

{% block content %}

<form action="{{ profile.edit_url }}" method="post">
    <input type="hidden" name="key_name" value="{{ profile.key_name }}" />
    <table class="expand">
        <thead>
            <tr class="center">
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="new_name" value="{{ profile.name|e }}" size=14 disabled /></td>
                <td><input name="age" value="{{ profile.age|e }}" size=4 /></td>
                <td><select name="gender" />
                    <option value=""></option>
                    <option value="Male"{% if profile.gender == "Male" %} selected{% endif %}>
                        Male</option>
                    <option value="Female" {% if profile.gender == "Female" %} selected{% endif %}>
                        Female</option>
                    <option value="Neither" {% if profile.gender == "Neither" %} selected{% endif %}>
                        Neither</option>
                </select></td>
                <td><input name="race" value="{{ profile.race|e }}" size=8 /></td>
                <td><input name="height" value="{{ profile.height|e }}" size=7 /></td>
                <td><input name="weight" value="{{ profile.weight|e }}" size=7 /></td>
            </tr>
            <tr><td colspan=6>
                <div class="inline_header"><h2>Appearance</h2></div>
                <div class="inline_body"><textarea name="apperence" rows="10" cols="40">{{ profile.apperence }}</textarea></div>
            </td></tr>
            <tr><td colspan=6>
                <div class="inline_header"><h2>Background</h2></div>
                <div class="inline_body"><textarea name="background" rows="10" cols="40">{{ profile.background }}</textarea></div>
            </td></tr>
            <tr><td colspan=6>
                <div class="inline_header"><h2>Extra Info</h2></div>
                <div class="inline_body"><textarea name="extra_info" rows="10" cols="40">{{ profile.extra_info }}</textarea></div>
            </td></tr>
        </tbody>
    </table>
    <input type="submit" name="submit_action" value="Save" /><input type="submit" name="submit_action" value="Cancel" />


{% endblock %}

{% block sidebar_header %}
        <li>
            <h2>Edit Character</h2>
            <ul>
                <li>This page lets you edit a character.</li>
                <li>Markupable fields:  <i>Appearance</i>, <i>Background</i>, <i>Extra Info</i>, <i>Links</i></li>
            </ul>
        </li>

        <li>
            <h2>Options</h2>
            <ul>
                <li>Private profiles cannot be seen by anyone but you.</li>
                <li><input type='radio' name='public' value='True' {% if profile.public %}checked{% endif %} /> Public</li>
                <li><input type='radio' name='public' value='False' {% if not profile.public %}checked{% endif %}/> Private</li>
            </ul>
            <ul>
                <li>Sybil will render the profile in the selected markup langauge.</li>
                <li><input type="radio" name="markup" value="PlainText" {% if profile.markup == "PlainText" %}checked{% endif %} /> `Plain Text</li>
                <li><input type="radio" name="markup" value="Textile" {% if profile.markup == "Textile" %}checked{% endif %} /> <a href="http://hobix.com/textile/">Textile</a></li>
                <li><input type="radio" name="markup" value="ReST" {% if profile.markup == "ReST" %}checked{% endif %}/> <a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">reStructuredText</a></li>
            </ul>
        </li>

        <li>
            <h2>Links</h2>
            <ul>
                <li>Content here is displayed in the sidebar.</li>
                <li><textarea name="links" rows="8" cols="40">{{ profile.links }}</textarea>
            </ul>
        </li>

        <li>
            <h2>Common Elements</h2>
            <ul>
                <li>Content here will be appended to the fields that accept markup.</li>
            {#% if profile.markup == "ReST" %}
                <--li><strong>Example (ReST)</strong></li>
                <li>In the input field: <pre>Python_ is great!</pre></li>
                <li>In the field below: <pre>.. _Python: http://www.python.org</pre></li>
            {% elif profile.markup == "Textile" %}
                <li><strong>Example (Textile)</strong></li>
                <li>In the input field: <pre>"Python":python_link is great!</pre></li>
                <li>In the field below: <pre>[python_link]http://www.python.org</pre></li>
            {% endif %#}
                <li><textarea name='common' rows="8" cols="40">{{ profile.common }}</textarea>
            </ul>
        </li>
    </form>
{% endblock %}
